@{
    ViewData["Title"] = "Index";
}

@model BasketViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basket</h5>
                @if (Model is not null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Price</th>
                                <th>Proccess</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var basketItem in Model.BasketItems)
                            {
                                <tr>
                                    <td>@basketItem.CourseName</td>
                                    <td>@basketItem.Price @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} apply)" : "")</td>
                                    <td>
                                        <a asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseid="@basketItem.CourseId" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }

                            @if (Model.HasDiscount)
                            {
                                <tr>
                                    <td>
                                        Discount
                                    </td>
                                    <td colspan="2">%@Model.DiscountRate.Value</td>
                                </tr>
                            }

                            <tr>
                                <td>@(Model.HasDiscount ? "Discounted Price" : "Total Price")</td>
                                <td colspan="3" class="font-weight-bold">@Model.TotalPrice</td>
                            </tr>
                        </tbody>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount" method="post">

                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" indirim kodu uygulandı.
                                <a asp-controller="Basket" asp-action="CancelAppliedDiscount" class="ml-2">(Cancel)</a>
                            </div>
                        }

                        @if (TempData["discountStatus"] is not null && (bool)TempData["discountStatus"] is false)
                        {
                            <div class="alert alert-danger">
                                İndirim Kodu geçersiz.
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control" />

                            <button class="btn-primary btn-outline-secondary" type="submit">Apply</button>
                        </div>

                        @if (TempData["DiscountError"] is not null)
                        {
                            <div class="text-danger">
                                @TempData["DiscountError"]
                            </div>
                        }

                    </form>

                    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Payment Info</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Back to Courses</a>
                }
                else
                {
                    <div class="alert alert-info"> Basket is empty</div>
                }
            </div>
        </div>
    </div>
</div>
